#flexbox-01 {
  .box {
    background-color: rgb(238, 208, 139);
    border: solid 1px black;
    font-size: 20px;
    padding: 20px 40px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

#flexbox-02 {
  .box {
    background-color: rgb(238, 208, 139);
    border: solid 1px black;
    font-size: 20px;
    padding: 20px 40px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
#flexbox-03 {
  .box {
    background-color: rgb(238, 208, 139);
    border: solid 1px black;
    font-size: 20px;
    padding: 20px 40px;
    flex-grow: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
#flexbox-04 {
  .box {
    background-color: rgb(238, 208, 139);
    border: solid 1px black;
    font-size: 20px;
    padding: 20px 40px;
    width: 50%;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
